<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Api</title>
</head>
<body>
<!-- home.html -->
<a href="{% url 'post_data' %}">Add New</a> <br><br>
<form method="post" action="{% url 'post_data' %}" enctype="multipart/form-data">
<!-- <form method="post" action="{% url 'post_data' %}"> -->
    {% csrf_token %}
    <!-- Add your form fields here -->
    <input type="text" name="p_name" placeholder="Name" required><br>
    <input type="text" name="p_catagory" placeholder="Catagory" required><br>
    <input type="number" min="0" name="p_price" placeholder="Price" required><br>
    <textarea name="p_disc" cols="30" rows="10"></textarea><br>
    <input  name="p_img" type="file" id="pImgInput"  >



    <button type="submit">Submit</button>
  </form>
  
  <!-- Display the retrieved data -->

<!-- 
    {% for d in data %}
    <h1>{{d.id}}</h1>
    <h2>{{d.p_name}}</h2>
    <h4>{{d.p_catagory}}</h4>
    <h3>{{d.p_price}}</h3>
    <h5>{{d.p_disc}}</h5>
    {% endfor %} -->
</body>
</html>